/*
.container{
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 3px solid rgba(126, 248, 11, 0.959);
  background-color: aqua;
  height:auto;
  justify-content: center;
}
*/
